* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles  */
.btn {
  padding: 13px;
  background-color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(57, 74, 63, 1);
  transition: 0.6s ease;
}
/* header section starts  */
header nav {
  display: flex;
  justify-content: space-around;
  margin-top: 34px;
}
header nav li {
  list-style: none;
}
.access-entry {
  background-color: white;
  width: 250px;
  border-radius: 30px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.access-entry > p {
  color: green;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#entry-point {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: rgba(70, 145, 101, 1);
  opacity: 0.4;
}
.menu ul {
  display: flex;
  margin-top: 20px;
}
header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 1rem;
}

header nav a:hover {
  color: #0070f3;
}
.nav-btn {
  margin-top: 10px;
}
.main-header {
  background-image: url(../assets/hero-bg.png),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(57, 74, 63, 1) 100%,
      rgba(237, 221, 83, 1) 100%
    );

  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.header-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-content {
  width: 56%;
  max-width: 1360px;
}
.header-content h1 {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  margin-top: 24px;
}
.header-content > p {
  text-align: center;
  margin-top: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.head-color {
  color: #30b868;
}
.main-header-btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 20px;
}
.icons {
  height: 20px;
  width: 20px;
}
.btn-head {
  display: flex;
}
.secondary-btn {
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}
.secondary-btn:hover {
  background-color: rgba(50, 120, 80, 1);
  transition: 0.6s ease;
}
/* card section starts  */
.card-section {
  margin-top: 60px;
}
.card-section h1 {
  text-align: center;
  font-weight: Bold;
  font-size: 48px;
  height: 58px;
}
.card-section > p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
  color: rgba(98, 115, 130, 1);
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  margin-top: 44px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
}
.card img {
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
}

.card > h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 16px;
}

.card > p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}
/* solution section starts here  */
.solution-section {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.solution-content > small {
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.solution-content > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-top: 16px;
}

.solution-content > p {
  color: rgba(98, 115, 130, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
}

.marked-section {
  margin-top: 40px;
}
.marked-section > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}
.mark {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

/* Early access section starts  */
.early-access-section {
  margin-top: 122px;
}
.early-access-content {
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  width: 1360px;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  padding-top: 150px;
}
.early-access-content > h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.early-access-content > p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}
.early-access-btn {
  margin-top: 24px;
}

/* Footer section starts here  */
footer {
  margin-top: 120px;
  background: rgba(0, 25, 49, 1);
  height: 500px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
  margin: 120px;
}
.social-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
}

.links {
  color: white;
}
.links h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.footer-line {
  width: 80%;
  margin: 0 auto;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  margin-top: 80px;
}
.copyright {
  color: rgba(250, 250, 250, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}
