* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles  */
.btn {
  padding: 13px;
  background-color: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(57, 74, 63, 1);
  transition: 0.6s ease;
}
/* header section starts  */
header nav {
  display: flex;
  justify-content: space-around;
  margin-top: 34px;
}
header nav li {
  list-style: none;
}

.menu ul {
  display: flex;
  margin-top: 20px;
}
header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 1rem;
}

header nav a:hover {
  color: #0070f3;
}
.nav-btn {
  margin-top: 10px;
}
.main-header {
  background-image: url(/assets/hero-bg.png),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(57, 74, 63, 1) 100%,
      rgba(237, 221, 83, 1) 100%
    );

  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.header-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-content {
  width: 56%;
  max-width: 1360px;
}
.header-content h1 {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}
.header-content p {
  text-align: center;
  margin-top: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.head-color {
  color: #30b868;
}
.main-header-btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 20px;
}
.icons {
  height: 20px;
  width: 20px;
}
.btn-head {
  display: flex;
}
.secondary-btn {
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}
.secondary-btn:hover {
  background-color: rgba(50, 120, 80, 1);
  transition: 0.6s ease;
}
/* card section starts  */
.card-section {
  margin-top: 60px;
}
.card-section h1 {
  text-align: center;
  font-weight: Bold;
  font-size: 48px;
  height: 58px;
}
.card-section > p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
  color: rgba(98, 115, 130, 1);
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 322px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  margin-top: 44px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  text-align: center;
}
.card img {
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
}

.card > h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 16px;
}

.card > p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}
